.satu{
    width: 300px;
    height: 100px;
    border: 10px solid red;
    border-style: dotted;
    overflow: scroll;
    background-color: lightskyblue;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.dua{
    width: 300px;
    height: 100px;
    border: 10px solid chartreuse;
    overflow: scroll;
    background-color: blue;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.tiga{
    width: 300px;
    height: 100px;
    border: 10px solid blue;
    border-style: dashed;
    overflow: scroll;
    background-color: blueviolet;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}